/node_modules

/public/*
!/public/favicon.ico
!/public/robots.txt
!/public/.htaccess
!public/index.php

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
